{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RvM</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="players">
        <h2>Ronaldo<br> <img src="{% static 'img/ronaldo-ballon-dor.jpg' %}" alt="Ronaldo img" id="ronaldo_img">
        <br><p id="score_r_number">{{ score_r }}</p><br>
        <form method="post" action="{% url 'index' %}">
            {% csrf_token %}
            <button type="submit" name="player" value="ronaldo" id="button_r">Ronaldo</button>
        </form>
        </h2>
        
        <h2>Messi<br><img src="{% static 'img/messiwebp.png'%}" alt="Messi img" id="messi_img">
        <br><p id="score_m_number">{{ score_m }}</p> <br>
        <form method="post" action="{% url 'index' %}">
            {% csrf_token %}
            <button type="submit" name="player" value="messi" id="button_m">Messi</button>
        </form>
        </h2>
    </div>

    <script>

    </script>

</body>
</html>
