body {
    background-color: azure;
    overflow: auto;
    margin: 0;
    padding: 0;
}

.players {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;
    margin-top: -25vh; 
}

.players h2 {
    padding: 20%;
    text-align: center;
    padding-bottom: 10%;
    margin: 0;

}
.players h2 p {
    text-align: center;
}
.players h2 button {
    align-items: center;
    width:100%;
    height: 5vh;
    border-radius: 5px;
    text-align: center;
    background-color: azure;
}
#ronaldo_img {
    height: 20vh;
    width: auto;
}
#messi_img {
    height: 20vh;
    width: auto;
}